body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.container {
	flex: 1;
}
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}
.col-b {
	width: 65%;
}
.col-s {
	width: 35%;
}
.gutter {
	width: var(--gutter-width);
}
.main-row {
	display: flex;
	width: 100%;
	/* margin-top: var(--gap);
    margin-bottom: var(--gap); */
	padding-top: var(--gap-l);
	padding-bottom: var(--gap-l);
}
.main-row::after {
	display: block;
	clear: both;
	content: "";
}
.sub-row {
	display: flex;
	width: 100%;
}
.sub-row::after {
	display: block;
	clear: both;
	content: "";
}
.cont-l,
.cont-r {
	/* max-width: 300px; */
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.cont-l {
	/* margin-right: var(--cont-width); */
	padding-right: var(--cont-gap);
}
.cont-r {
	/* margin-left: var(--cont-width); */
	padding-left: var(--cont-gap);
}
.img-cont-l {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;

	display: inline-block;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.img-cont-r {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	overflow: hidden;

	display: inline-block;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.side-img {
	width: 100%;
	height: 100%;

	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
}

.hero {
	background-image: url("../assets/home/hero.png");
	background-size: cover;
	background-color: var(--primary);
	height: 90vh;
	background-position: center bottom;
	text-align: center;
}
.hero h1 {
	font-size: 3.5rem;
	/* font-family: "Montserrat", sans-serif;
	font-weight: 900; */
	margin-top: -50px;
}
.hero p {
	font-size: 1.2rem;
	color: var(--text-white);
}

.head {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2rem;
}
.head h2 {
	font-size: 2.25rem;
	margin-bottom: 12px;
	color: var(--primary);
}
.head div {
	height: 4px;
	width: 62px;
	background-color: var(--secondary);
}

.dec-bg {
	background-image: url("../assets/decal.svg");
	background-size: cover;
	background-position: center;
}
.ft-label {
	font-size: 1.75rem;
	color: var(--secondary);
}
.feature {
	display: flex;
	margin-top: var(--gap-l);
}
.ft-img {
	/* padding-right: 2rem; */
}
.ft-img img {
	/* padding-right: 2rem; */
	width: 90px;
}
.ft-text {
	padding: 1.5rem;
}
.ft-text h4 {
	color: var(--primary);
	font-size: 1.4rem;
	padding-top: 1rem;
	padding-bottom: 0.8rem;
}
.ft-text p {
	max-width: 400px;
	color: var(--secondary);
}

.step-cont {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	/* align-items: center; */
}
.step {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 240px;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
}
.step img {
	padding-bottom: var(--gap-s);
	height: 80px;
}
.step h4 {
	color: var(--primary);
	padding-bottom: var(--gap-s);
	font-size: 1.5rem;
}
.step p {
	color: var(--secondary);
	padding: 0;
}

.grey-part-cont {
	background-color: var(--grey-sec);
	/* padding-top: var(--gap-l);
	padding-bottom: var(--gap-l); */
	padding: var(--gap-l) var(--gap-l);
}
.grey-part-cont h2 {
	color: var(--primary);
	font-size: 2rem;
	font-weight: 400;
}
.grey-part-cont p,
.side-desc p {
	color: var(--secondary);
	padding-top: var(--gap-s);
	font-weight: 300;
	/* font-size: 1.25rem; */
	font-size: 1.1rem;
}
.side-desc {
	padding: var(--gap-m);
}
.grey-part-cont strong {
	font-weight: 700;
}

.cta-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.cta-center p {
	padding-top: var(--gap-m);
	font-size: 1.5rem;
	font-weight: 300;
}
.cta-center a {
	margin-top: 40px;
	margin-bottom: 20px;
}
.cta-center strong {
	font-weight: 300;
	font-size: 2.5rem;
}

.journey {
	justify-content: center;
	padding-top: var(--gap-m);
}

/* ========== UTILITIES ============= */
p.single-paragraph {
	font-size: 1.2rem;
	text-align: center;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}
.double-gap {
	padding-top: calc(var(--gap-l) * 2);
	padding-bottom: calc(var(--gap-l) * 2);
}
.grey-sec {
	background-color: var(--grey-sec);
}
.no-tpadding {
	padding-top: 0;
}
.no-bpadding {
	padding-bottom: 0;
}
a.primary {
	color: var(--bg-col);
	background-color: var(--primary);
	padding: 1.5rem 3rem;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.25rem;
	/* -webkit-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.3); */
	box-shadow: 0px 0px 20px 0px rgba(255, 97, 15, 0.4);
	-webkit-box-shadow: 0px 0px 20px 0px rgba(255, 97, 15, 0.4);
	-moz-box-shadow: 0px 0px 20px 0px rgba(255, 97, 15, 0.4);
}

.neg-offset {
	width: 100%;
	margin-bottom: calc(-1 * var(--gap-l));
}

.img-sec {
	color: #fff;
	/* background-image: url("../assets/home/business.jpg"); */
	background: linear-gradient(
			0deg,
			rgba(11, 24, 45, 0.67),
			rgba(11, 24, 45, 0.67)
		),
		url("../assets/home/business.jpg");
	background-size: cover;
	background-position: center center;
	text-align: center;
}
.img-sec p {
	color: var(--primary);
	font-size: 2.25rem;
	font-weight: 300;
	padding-bottom: var(--gap-l);
}
.img-sec strong {
	font-size: 2.25rem;
	font-weight: 300;
	padding-bottom: 0;
	color: var(--text-white);
}

.big-text {
	font-size: 1.75rem;
}

/* ======= UTILITIES ======= */

/* -------- RESPONSIVE ------------- */
@media all and (max-width: 1024px) {
	[class*="col-"] {
		width: 100%;
		margin-bottom: 36px;
	}
	.cont-l,
	.cont-r {
		max-width: none;
		padding-left: 0;
		padding-right: 0;
		border-radius: var(--radius);
	}
	.main-row,
	.sub-row {
		flex-direction: column;
	}
	.main-row {
		padding-left: var(--gutter-width);
		padding-right: var(--gutter-width);
	}
	.img-cont-l,
	.img-cont-r {
		/* height: 200px; */
		min-height: 40vh;
	}

	.ft-text {
		padding: 0;
		padding-left: 2rem;
	}
	.step {
		padding-top: var(--gap-l);
	}
}

@media (prefers-color-scheme: dark) {
}
