.login-bg {
  display: block;
  position: relative;
  &::after {
    background: url(../assets/form/bulldozer.jpg);
    background-position: center;
    opacity: 0.5;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}
.register-bg {
  display: block;
  position: relative;
  &::after {
    background: url(../assets/form/excavator.jpg);
    background-position: center;
    opacity: 0.5;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}
